/* Estilos base para la aplicación */

body {
	font-family: Montserrat, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	color: #6a6a6a;
	font-size: 14px;
	margin: 0;
	padding-bottom: 20px;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
}

.container {
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
	max-width: 720px;
}

@media only screen and (min-width: 992px) {
	.container {
		max-width: 970px;
	}
}

@media ( min-width : 769px and max-width;991px) {
	.container {
		max-width: 720px;
	}
}

.show-xs {
	display: inline-block !important;
}

.show-lg {
	display: none !important;
}

@media only screen and (min-width: 768px) {
	.show-xs {
		display: none !important;
	}
	.show-lg {
		display: inline-block !important;
	}
}
