/* Estilos base para el catalogo */

.banner-img img {
	width: 100%;
	max-width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
}

.resultados-totales {
	font-size: 16px;
	line-height: 40px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 5px;
	padding-bottom: 10px;
	margin-top: 20px;
}

.catalog-grid {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 20px;
}

.catalog-grid .item {
	width: 48%;
	margin-top: 20px;
	position: relative;
}

.catalog-grid .item a:focus, .catalog-grid .item a:visited, .catalog-grid .item a:-webkit-any-link {
	color: #6a6a6a;
	text-decoration: none;
}

.catalog-grid .item .image-container img {
	max-width: 100%;
}

.catalog-grid .item .product-name {
	line-height: 13px;
	font-size: 10px;
	margin-bottom: 15px;
	max-height: 40px;
	white-space: normal !important;
	overflow: hidden;
  text-overflow: ellipsis;
}

.catalog-grid .item .old-price {
	font-size: 11px;
	line-height: 1.3em;
	text-decoration: line-through;
	font-weight: 500;
}

.catalog-grid .item .offer-price {
	line-height: 1.3em;
	font-size: 12px;
	font-weight: 600;
}

.catalog-grid .item .ripley-price {
	display: flex;
}

.catalog-grid .item .ripley-price>div {
	line-height: 1.3em;
	font-size: 14px;
	color: #e75353;
	font-weight: 600;
}

.catalog-grid .item .ripley-price>img {
	width: 16px;
	height: 11px;
	margin-top: 4px;
	margin-left: 3px;
}

.catalog-grid .discount-badget{
	position: absolute;
  top: 0;
  right: 0px;
  background-color: #e75353;
  height: 24px;
  width: 50px;
  line-height: 24px;
  color: #FFF;
  font-size: 14px;
  text-align: center;
  border-radius: 3px;
	font-weight: 600;
}

@media only screen and (min-width: 768px) {

	.catalog-grid {
		justify-content: left;
	}

	.catalog-grid .item {
		width: 27%;
    padding: 0 3%;
		margin-top: 30px;
	}

	.catalog-grid .item .product-name{
		font-size: 13px;
	}
	.catalog-grid .item .old-price {
		font-size: 13px;
	}
	.catalog-grid .item .offer-price {
		font-size: 14px;
	}
	.catalog-grid .item .ripley-price>div {
		font-size: 16px;
	}

	.catalog-grid .discount-badget{
		width: 60px;
    height: 35px;
		line-height: 35px;
    font-size: 16px;
	}
}
