/* Estilos para el detalle del producto */

.detalle-info .product-name{
  display: block;
  color: #999;
  letter-spacing: 2px;
  font-weight: 400;
  margin-bottom: 6px;
}

.detalle-info .product-sku{
  display: block;
  color: #999;
  letter-spacing: 2px;
  font-weight: 400;
  margin-bottom: 6px;
}

.detalle-info .product-image img{
  width: 100%;
  margin-top: 10px;
}

.detalle-info .product-price{
  margin-top: 20px;
}

.detalle-info .product-prices .price-row{
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
}

.detalle-info .product-prices .price-row .price-name{
  overflow: hidden;
  height: 28px;
  line-height: 28px;
  padding-right: 5px;
}

.detalle-info .product-prices .price-row.old-price .price-name{
  color: #999;
}

.detalle-info .product-prices .price-row.offer-price .price-name{
  color: #999;
  font-weight: 600;
}

.detalle-info .product-prices .price-row.ripley-price .price-name{
  color: #e75353;
  font-weight: 600;
}

.detalle-info .product-prices .price-row .price-value{
  overflow: hidden;
  height: 28px;
  line-height: 28px;
  padding-right: 5px;
}

.detalle-info .product-prices .price-row.old-price .price-value{
  color: #999;
}

.detalle-info .product-prices .price-row.offer-price .price-value{
  color: #999;
  font-weight: 600;
}

.detalle-info .product-prices .price-row.ripley-price .price-value{
  display: flex;
  color: #e75353;
  font-weight: 600;
}

.detalle-info .product-prices .price-row.ripley-price .price-value img{
  height: 20px;
  margin-right: 5px;
  margin-top: 3px;
}

.detalle-info .product-prices .price-row.discount .price-value{
  background: #e75353;
  color: #FFF;
  width: 55px;
  text-align: center;
  padding-right: 0px;
  margin-right: 5px;
}

.detalle-info .go-back:focus, .detalle-info .go-back:visited, .detalle-info .go-back:-webkit-any-link{
  font-size: 16px;
  margin-bottom: 10px;
  display: block;
  color: #5b4177;
}

@media only screen and (min-width: 768px){
  .detalle-info{
    max-width: 600px;
    margin: 0 auto;
  }
  .detalle-info .product-image{
    text-align: center;
  }
  .detalle-info .product-image img{
    max-width: 400px;
  }

}

/* Descripción */
.detalle-info .accordion {
  margin-top: 20px;
}

.detalle-info .accordion .item{
  margin-top: 10px;
}

.detalle-info .accordion .item .tab{
  padding: 20px;
  font-weight: 600;
  padding-left: 20px;
  color: #6a6a6a;
  background: #f0f0f0;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  text-transform: uppercase;
}

.detalle-info .accordion .item .content{
  text-align: center;
  padding: 0px 10px;
}

.detalle-info .accordion .item.close .content{
  display: none;
}
.detalle-info .accordion .item.open .content{
  display: block;
}

.detalle-info .accordion .item .content img{
  max-width: 100%;
}

.detalle-info .accordion .item .content h3{
  margin: 0px;
  text-align: center;
}

.detalle-info .accordion .item .content ul{
  margin: 15px 5px;
}

.detalle-info .accordion .item .content ul li{
  display: flex;
  border-top: 1px solid #ddd;
}

.detalle-info .accordion .item .content ul:first-child{
  border-bottom: 1px solid #ddd;
}

.detalle-info .accordion .item .content ul li div{
  width: 50%;
  text-align: left;
  font-size: 14px;
  padding: 8px;
}

.detalle-info .accordion .item .content ul li:nth-of-type(odd){
  background-color: #f9f9f9;
}

.detalle-info .accordion .item .content ul li:nth-of-type(even){
  background-color: #ffffff;
}

@media only screen and (min-width:768px){
  .detalle-info .accordion .item .content{
    text-align: justify;
  }
}
