/* Estilos para el header  */

.ripley-header .ripley-header__menu-button-container,
	.ripley-header__menu-button-container {
	cursor: pointer;
	display: inline-block
}

.ripley-header .ripley-header__menu-button-container .menu-button,
	.ripley-header__menu-button-container .menu-button {
	position: relative;
	height: 36px;
	width: 37px;
	background-color: transparent;
	cursor: pointer;
	margin: auto;
	overflow: hidden;
	border-radius: 100%;
	display: inline-block;
	-webkit-transition: background .2s ease;
	transition: background .2s ease
}

.ripley-header .ripley-header__menu-button-container .menu-button__icon,
	.ripley-header__menu-button-container .menu-button__icon {
	position: absolute;
	width: 30px;
	height: 16px;
	top: 45%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%)
}

.ripley-header .ripley-header__menu-button-container .menu-button__line,
	.ripley-header__menu-button-container .menu-button__line {
	position: absolute;
	background-color: #fff;
	height: 2px;
	width: 100%;
	border-radius: 2px;
	pointer-events: none
}

.ripley-header .ripley-header__menu-button-container .menu-button__line--1,
	.ripley-header__menu-button-container .menu-button__line--1 {
	top: 0
}

.ripley-header .ripley-header__menu-button-container .menu-button__line--2,
	.ripley-header__menu-button-container .menu-button__line--2 {
	top: 0;
	bottom: 0;
	margin: auto
}

.ripley-header .ripley-header__menu-button-container .menu-button__line--3,
	.ripley-header__menu-button-container .menu-button__line--3 {
	bottom: 0
}

.ripley-header .ripley-header__menu-button-container .menu-button__line--1,
	.ripley-header__menu-button-container .menu-button__line--1 {
	-webkit-transition: top .2s ease-in-out .2s, -webkit-transform .2s
		ease-in-out;
	transition: top .2s ease-in-out .2s, -webkit-transform .2s ease-in-out;
	transition: transform .2s ease-in-out, top .2s ease-in-out .2s;
	transition: transform .2s ease-in-out, top .2s ease-in-out .2s,
		-webkit-transform .2s ease-in-out
}

.ripley-header .ripley-header__menu-button-container .menu-button__line--1:before,
	.ripley-header__menu-button-container .menu-button__line--1:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: #fff;
	border-radius: 3px;
	-webkit-transition: -webkit-transform .1s ease-in-out .2s;
	transition: -webkit-transform .1s ease-in-out .2s;
	transition: transform .1s ease-in-out .2s;
	transition: transform .1s ease-in-out .2s, -webkit-transform .1s
		ease-in-out .2s
}

.ripley-header .ripley-header__menu-button-container .menu-button__line--2,
	.ripley-header__menu-button-container .menu-button__line--2 {
	-webkit-transition: opacity 0s ease-in-out .2s;
	transition: opacity 0s ease-in-out .2s
}

.ripley-header .ripley-header__menu-button-container .menu-button__line--3,
	.ripley-header__menu-button-container .menu-button__line--3 {
	-webkit-transition: opacity 0s ease-in-out .2s, bottom .2s ease-in-out
		.2s;
	transition: opacity 0s ease-in-out .2s, bottom .2s ease-in-out .2s
}

.ripley-header .ripley-header__menu-button-container .menu-button.open .menu-button__line--1,
	.ripley-header__menu-button-container .menu-button.open .menu-button__line--1
	{
	top: 5px;
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg);
	-webkit-transition: top .1s ease-in-out, -webkit-transform .2s linear
		.2s;
	transition: top .1s ease-in-out, -webkit-transform .2s linear .2s;
	transition: top .1s ease-in-out, transform .2s linear .2s;
	transition: top .1s ease-in-out, transform .2s linear .2s,
		-webkit-transform .2s linear .2s
}

.ripley-header .ripley-header__menu-button-container .menu-button.open .menu-button__line--1:before,
	.ripley-header__menu-button-container .menu-button.open .menu-button__line--1:before
	{
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-transition: -webkit-transform .1s ease-in-out .2s;
	transition: -webkit-transform .1s ease-in-out .2s;
	transition: transform .1s ease-in-out .2s;
	transition: transform .1s ease-in-out .2s, -webkit-transform .1s
		ease-in-out .2s
}

.ripley-header .ripley-header__menu-button-container .menu-button.open .menu-button__line--2,
	.ripley-header__menu-button-container .menu-button.open .menu-button__line--2
	{
	opacity: 0;
	-webkit-transition: opacity 0s ease-in-out .2s;
	transition: opacity 0s ease-in-out .2s
}

.ripley-header .ripley-header__menu-button-container .menu-button.open .menu-button__line--3,
	.ripley-header__menu-button-container .menu-button.open .menu-button__line--3
	{
	bottom: 5px;
	opacity: 0;
	-webkit-transition: bottom .2s ease-in-out, opacity 0s ease-in-out .2s;
	transition: bottom .2s ease-in-out, opacity 0s ease-in-out .2s
}

.ripley-header .ripley-header__menu-button-container span,
	.ripley-header__menu-button-container span {
	display: block;
	line-height: 7px;
	font-size: 13px !important
}

@media ( min-width :768px) {
	.ripley-header .ripley-header__menu-button-container,
		.ripley-header__menu-button-container {
		position: relative;
		text-align: left !important;
		line-height: 70px;
		height: 70px;
		width: 160px !important;
		color: #fff;
		display: inline-table;
		padding: 0 20px
	}
	.ripley-header .ripley-header__menu-button-container a,
		.ripley-header__menu-button-container a {
		text-align: center !important;
		cursor: pointer;
		position: relative;
		height: 36px;
		width: 36px
	}
	.ripley-header .ripley-header__menu-button-container div,
		.ripley-header__menu-button-container div {
		padding-left: 12px;
		line-height: 16px;
		font-size: 13px;
		font-weight: 700
	}
	.ripley-header .ripley-header__menu-button-container a, .ripley-header .ripley-header__menu-button-container div,
		.ripley-header__menu-button-container a,
		.ripley-header__menu-button-container div {
		display: inline-block;
		vertical-align: middle
	}
	.ripley-header .ripley-header__menu-button-container .menu-text,
		.ripley-header__menu-button-container .menu-text {
		padding-top: 0;
		margin-top: -2px
	}
	.ripley-header .ripley-header__menu-button-container .menu-button,
		.ripley-header__menu-button-container .menu-button {
		background-color: #70578b;
		vertical-align: top
	}
	.ripley-header .ripley-header__menu-button-container .menu-button__icon,
		.ripley-header__menu-button-container .menu-button__icon {
		position: absolute;
		top: 50%;
		width: 30px;
		height: 12px
	}
	.ripley-header .ripley-header__menu-button-container .menu-button__line,
		.ripley-header__menu-button-container .menu-button__line {
		left: 15%;
		height: 2px;
		width: 70%
	}
	.ripley-header .ripley-header__menu-button-container .menu-button.open,
		.ripley-header__menu-button-container .menu-button.open {
		background-color: #e75353
	}
	.ripley-header .ripley-header__menu-button-container span,
		.ripley-header__menu-button-container span {
		display: block;
		line-height: 13px;
		font-size: 13px !important
	}
}

.ripley-header {
	background: #1a1a1a;
	height: 70px;
	z-index: 4000;
	margin-bottom: 30px
}

.ripley-header, .ripley-header__shopping-bag-container {
	position: relative
}

.ripley-header__shopping-bag-container .shopping-bag-count {
	position: absolute;
	bottom: 5px;
	right: 5px;
	background: #e75353;
	border-radius: 100%;
	color: #fff;
	display: block;
	width: 20px;
	height: 20px;
	line-height: 1;
	text-align: center;
	padding: 3px
}

.ripley-header__my-account-container,
	.ripley-header__shopping-bag-container {
	vertical-align: top
}

@media ( max-width :767px) {
	.ripley-header div.login-box {
		bottom: 0;
		margin-top: 0 !important;
		overflow: scroll;
		position: fixed;
		top: -1px
	}
	.ripley-header__my-account-container .my-account {
		text-align: center
	}
	.ripley-header__my-account-container .my-account .not-authenticated {
		min-width: auto
	}
	.ripley-header__my-account-container .my-account__desktop {
		display: none !important
	}
	.ripley-header__my-account-container .my-account__mobile {
		display: block !important
	}
}

@media ( min-width :768px) {
	.ripley-header nav.header-nav .header-nav__actions {
		width: -webkit-calc(100% - 230px) !important;
		width: calc(100% - 230px) !important;
		text-align: right !important;
		float: right
	}
	.ripley-header nav.header-nav .header-nav__actions>li {
		float: none !important;
		display: inline-block
	}
	.ripley-header__my-account-container {
		width: 160px;
		height: 100%;
		padding: 0 15px
	}
	.ripley-header__my-account-container .my-account__mobile {
		display: none !important
	}
	.ripley-header__shopping-bag-container {
		padding: 0 15px;
		width: 70px
	}
	.ripley-header__search-container {
		padding: 0 10px;
		width: -webkit-calc(100% - 160px - 70px);
		width: calc(100% - 160px - 70px)
	}
}

.ripley-header__main-header {
	background: #1a1a1a;
	width: 100%
}

.ripley-header__main-header a svg {
	height: 40px;
	width: 40px;
	vertical-align: middle;
	fill: #fff
}

.ripley-header nav.header-nav {
	width: 100%;
	max-width: 1140px;
	display: block;
	margin: 0 auto;
	background-color: #1a1a1a;
	overflow: hidden;
	height: 70px
}

.ripley-header nav.header-nav a {
	text-decoration: none;
	color: inherit;
	color: #fff;
	font-weight: 400
}

.ripley-header nav.header-nav .header-nav__actions>a, .ripley-header nav.header-nav .ripley-header__menu-button-container,
	.ripley-header nav.header-nav>a {
	height: 100%;
	font-size: 16px
}

.ripley-header nav.header-nav>.ripley-header__menu-button-container,
	.ripley-header nav.header-nav>a {
	width: 320px;
    margin-top: 10px;
}

.ripley-header nav.header-nav>* {
	height: 70px;
	overflow: hidden;
	float: left;
	text-align: center;
	line-height: 70px
}

.ripley-header nav.header-nav .header-nav__actions {
	width: -webkit-calc(100% - 140px);
	width: calc(100% - 140px)
}

.ripley-header nav.header-nav .header-nav__actions>li {
	float: left
}

.ripley-header nav.header-nav .my-account {
	display: inline-table !important;
	height: 100%
}

.ripley-header nav.header-nav .my-account__box {
	min-width: auto !important
}

.ripley-header nav.header-nav .my-account__box .slideout {
	opacity: 1;
	-webkit-transition: opacity .3s ease;
	transition: opacity .3s ease
}

.ripley-header nav.header-nav .my-account__box .slideout__container {
	background-color: transparent;
	margin: 0 auto;
	max-width: 1140px;
	position: relative;
	width: 100%
}

@media ( min-width :678px) {
	.ripley-header nav.header-nav .my-account__box .slideout {
		outline: none;
		overflow: initial
	}
}

@media ( max-width :767px) {
	.ripley-header nav.header-nav .my-account__box .slideout {
		top: 0 !important
	}
}

.ripley-header nav.header-nav .my-account__box .slideout.__fade {
	opacity: 0;
	-webkit-transition: opacity .3s ease;
	transition: opacity .3s ease
}

@media ( max-width :767px) {
	.ripley-header__main-header a svg {
		height: 30px;
		width: 30px
	}
	.ripley-header a.logo>svg {
		height: 40px;
		width: 40px
	}
	.ripley-header nav.header-nav .header-nav__actions>li {
		text-align: center;
		width: 33%
	}
	.ripley-header nav.header-nav>:first-child {
		border-right: 1px solid #ccc;
		width: 70px
	}
	.ripley-header nav.header-nav>:last-child {
	    float: none;
	    width: 320px;
	    border-right: 0px;
	    display: block;
	    text-align: left;
	    padding-left: 20px;
	}
	.ripley-header nav.header-nav .ripley-header {
		overflow: visible
	}
	.ripley-header nav.header-nav .ripley-header__search-container .mobile-search a,
		.ripley-header nav.header-nav .ripley-header__shopping-bag-container a
		{
		position: relative;
		top: 9px
	}
	.ripley-header nav.header-nav .ripley-header__search-container .mobile-search a svg,
		.ripley-header nav.header-nav .ripley-header__shopping-bag-container a svg
		{
		vertical-align: baseline
	}
	.ripley-header nav.header-nav .ripley-header__search-container .mobile-search a
		{
		cursor: pointer !important
	}
	.ripley-header nav.header-nav .ripley-header__search-container .mobile-search__bar
		{
		background-color: hsla(0, 0%, 9%, .9);
		max-height: 70px;
		overflow-y: hidden;
		position: absolute;
		top: 0;
		-webkit-transition-property: max-height;
		transition-property: max-height;
		-webkit-transition-duration: .5s;
		transition-duration: .5s;
		-webkit-transition-timing-function: ease;
		transition-timing-function: ease;
		-webkit-transform: translateY(-1px) translateX(-70px);
		transform: translateY(-1px) translateX(-70px);
		width: 100%;
		z-index: 400
	}
	.ripley-header nav.header-nav .ripley-header__search-container .mobile-search__bar .search-icon
		{
		display: none
	}
	.ripley-header nav.header-nav .ripley-header__search-container .mobile-search__overlay
		{
		position: fixed;
		left: 0;
		top: 0;
		width: 100vw;
		height: 100vh;
		background-color: rgba(0, 0, 0, .3);
		z-index: -1
	}
	.ripley-header nav.header-nav .ripley-header__search-container .mobile-search__bar.closed,
		.ripley-header nav.header-nav .ripley-header__search-container .mobile-search__overlay.closed
		{
		max-height: 0;
		padding: 0
	}
	.ripley-header nav.header-nav .ripley-header__search-container .mobile-search input
		{
		border: none;
		background-color: transparent;
		font-size: 20px;
		height: 100%;
		border-radius: 0;
		position: relative;
		width: 100%;
		color: #fff;
		outline: none;
		padding: 0 20px;
		height: 70px;
		-webkit-box-sizing: border-box;
		box-sizing: border-box
	}
	.ripley-header nav.header-nav .ripley-header__search-container .mobile-search input::-webkit-input-placeholder
		{
		color: #aaa;
		font-weight: 200
	}
	.ripley-header nav.header-nav .ripley-header__search-container .mobile-search input::-moz-placeholder
		{
		color: #aaa;
		font-weight: 200
	}
	.ripley-header nav.header-nav .ripley-header__search-container .mobile-search input::-ms-input-placeholder
		{
		color: #aaa;
		font-weight: 200
	}
	.ripley-header nav.header-nav .ripley-header__search-container .mobile-search input::placeholder
		{
		color: #aaa;
		font-weight: 200
	}
	.ripley-header .ripley-header__menu-button-container {
		line-height: 20px !important;
		height: 70px;
		padding: 12px
	}
}
