/* Estilos para el cintillo de despacho en el header */

.cintillodespacho19 {
	background: #5B4178;
	padding: 3vw 4vw;
	display: block;
}

.cintillodespacho19 picture img {
	display: flex;
	margin: 0 auto;
}

.cintillodespacho19 picture img.show-xs {
	display: flex !important;
}

.cintillodespacho19 picture img.show-lg {
	display: none !important;
}

@media only screen and (min-width: 768px) {
	.cintillodespacho19 picture img.show-xs {
		display: none !important;
	}
	.cintillodespacho19 picture img.show-lg {
		display: flex !important;
	}
}

/* inicio desktop */
@media screen and (min-width: 576px) {
	.cintillodespacho19 {
		padding: .6vw 0;
	}
	.cintillodespacho19 picture img {
		width: 70vw;
	}
}

/* inicio wide desktop */
@media screen and (min-width: 1401px) {
	.cintillodespacho19 {
		padding: 8.4px 0;
	}
	.cintillodespacho19 picture img {
		width: 980px;
	}
}

#menu_corporativo_header {
	height: 28px;
	overflow: hidden;
}

ul#navbar_corporativo_header, .base_navbar_corporativo_header {
	background: #313131;
}

ul#navbar_corporativo_header li {
	display: inline-block;
	padding: 2px 8px 5px;
	margin: 0;
}

ul#navbar_corporativo_header li.nav-item:hover {
	background: #404040;
	-webkit-transition: 0.3s ease-out;
	-moz-transition: 0.3s ease-out;
	-o-transition: 0.3s ease-out;
	transition: 0.3s ease-out;
}

ul#navbar_corporativo_header li img {
	padding: 0;
	margin: 0;
}

ul#navbar_corporativo_header li a {
	text-decoration: none;
	font-size: 12px;
	color: #97999b
}

@media only screen and (max-width:778px) {
	#menu_corporativo_header {
		display: none
	}
}
